<html>
<body>
	<% @articles.each do |article|%>
	<li><%= link_to article.title, article_path(article)%></li>
	<% end %>

	<% if logged_in? %>
  <p><%= link_to "Create a new article", new_article_path %></p>
  <% end %>
	</body>
</html>